<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Foodbank Finder</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>

<body class="d-flex vh-100 flex-column">
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            @*            <a class="navbar-brand" asp-area="" asp-page="/Index">Foodbank Project</a>
*@
            <a asp-area="" asp-page="/Index" class="navbar-brand">
                <img src="~/img/Foodbank_logo.png" style="width:100px;height:100px" title="Foodbank Finder" alt="Foodbank Finder logo"/>
            </a>

            @*            <img scr = "~\Images\Foodbank_logo.png" alt ="Foodbank logo" style="width:20px;height:20px";>
*@
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                    </li>
*@
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/GetHelpLanding">Get&nbsp;Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/GiveHelp">Give&nbsp;Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Recipes">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/pageTemplateSL">TemplateSL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/FoodbankPage">Foodbank Page</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main role="main" class="container-fluid flex-fill">
    @RenderBody()
</main>

<footer class="mastfoot mt-5 ">
    <div class="inner bg-success mt-5">
        <div class="row m-0">
            <div class="col-sm-4">
                <p class="h4 text-light bg-success">
                    <bold>Contact info:</bold>
                </p>
                <p class="h6 text-light bg-success">for Foodbanks:</p>
                <p class="text-light bg-success">infoAdmin123@smtng.co.uk</p>
                <p class="h6 text-light bg-success">Media enquiries</p>
                <p class="text-light bg-success">Placeholder@clicky.co.uk</p>
            </div>
            <div class="col-sm-4">
                <a class="nav-link text-light text-decoration-underline" asp-area="" asp-page="/Terms">Terms and Conditions</a>
                <p class="h4 text-light bg-success text-center">
                    <bold>Licenses:</bold>
                </p>
                <p class="h6 text-light bg-success">Powered by the GiveFood API, Leaflet maps and the Informatics centre. Licensed by:</p>
                <p class="h6 text-light bg-success">Leaflet; OpenStreetMap®; Nominatim; Leaflet-control-geocoder by Per Liedman</p>
            </div>
            <div class="col-sm-4">
                <p class="h-7 text-light bg-success text-end">
                    <em>Site written by Group A</em>
                </p>
                <p class="h-7 text-light bg-success text-end">
                    <em>University of Chester in cooperation with IC and Clicky</em>
                </p>
                <p class="h-7 text-light bg-success text-end">
                    <em>All rights reserved</em>
                </p>
            </div>
        </div>
    </div>
</footer>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>