@{
    Layout = "Shared/_Layout";
}

<div class="h-100 d-flex flex-row">
    <ul class="nav flex-column mt-5 sticky-top">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" asp-page="/Admin/Index">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Foodbanks">
                Foodbanks
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Stock">
                Stock
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Users">
                Users
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Recipes">
                Recipes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-page="/Admin/Content">
                Content
            </a>
        </li>
    </ul>

    <div class="px-5 flex-fill pt-5">
        @RenderBody()
    </div>
</div>