@{
    Layout = "Shared/_Layout";
}

<div class="h-100 d-flex flex-row w-100">
    <ul class="nav flex-column mt-5 sticky-top">
        @{
            if (User.IsInRole("FoodbankAdmin"))
            {
                foreach (var claim in User.Claims)
                {
                    if (claim.Type == "FoodbankClaim" && claim.Value != "0")
                    {
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-page="/Admin/Foodbank" asp-route-id="@claim.Value">
                                Your Foodbank
                            </a>
                        </li>
                    }
                }
            }
        }
        @if (User.IsInRole("ApprovalAdmin") || User.IsInRole("SiteAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" asp-page="/Admin/Index">
                    Approvals
                </a>
            </li>
        }
        @if (User.IsInRole("FoodbanksAdmin") || User.IsInRole("SiteAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Admin/Foodbanks">
                    Foodbanks
                </a>
            </li>
        }
        @if (User.IsInRole("NeedsAdmin") || User.IsInRole("SiteAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Admin/Needs">
                    Needs
                </a>
            </li>
        }
        @if (User.IsInRole("UsersAdmin") || User.IsInRole("SiteAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Admin/Users">
                    Users
                </a>
            </li>
        }
        @if (User.IsInRole("RecipesAdmin") || User.IsInRole("SiteAdmin"))
        {
            <li class="nav-item">
                <a class="nav-link" asp-page="/Admin/Recipes">
                    Recipes
                </a>
            </li>
        }
    </ul>

    <div class="ps-4 flex-fill pt-5 pe-lg-4 pe-md-0">
        @RenderBody()
    </div>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}