@page
@model ContentModel
@{
    ViewData["Title"] = "Content - Admin";
}

<h1>Content</h1>


<div class="bg-light shadow-lg">
    <table class="table table-striped table-hover w-100">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Blob</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.Contents?.Count != 0)
        {
            @foreach (var item in Model.Contents!)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Blob)
                    </td>
                    <td>
                        <a asp-page="./Content" asp-route-id="@item.ContentId">Edit</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Nothing to display...</td>
            </tr>
        }

        </tbody>
    </table>
</div>