@page
@model AddBankModel
@{
    ViewData["Title"] = "Add foodbank";
}

<div class="text-center">
    <h1 class="display-4">Foodbank Submission form</h1>
</div>

<div class="container">
    <div class="d-grid col-7 mx-auto">
        <p class="h6 text-box">
            We are glad that you have decided to register your foodbank with us please fill up the required fields
            and press the submit button. Please bear in mind that "Foodbank finder" reserves the right to accept or reject your submission. You
            will recieve an email with our decision soon after you submitted. NOTE: the fields with a star are mandatory
        </p>
    </div>
</div>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-6 d-grid mx-auto">
                <div class="mb-3">
                    <label for="fbName" class="form-label">Enter the name of your foodbank/charity *</label>
                    <input asp-for="foodbank.Name" type="text" class="form-control" id="fbName" placeholder="ex: West Cheshire Foodbank"/>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Contact Email *</label>
                    <input asp-for="foodbank.Email" type="email" class="form-control" id="fbEmail" placeholder="ex: brelan@yahoo.co.uk" aria-describedby="emInst"/>
                    <div id="emInst" class="form-text">This will be the E-mail we'll use to comunicate with you</div>
                </div>
                <div class="mb-3">
                    <label for="charNo" class="form-label">Charity No (if applicable)</label>
                    <input asp-for="foodbank.CharityNumber" type="text" class="form-control" id="charno" placeholder="ex: 1234567" aria-describedby="measure"/>
                    <div id="measure" class="form-text">If you are not a registered charity you may need to provide proof of identity</div>
                </div>
            </div>
            <div class="col-6 d-grid mx-auto">
                <div class="mb-3">
                    <label for="addresss" class="form-label">Type your address as shown in the example</label>
                    <input asp-for="foodbank.Address" type="text" class="form-control" id="add" placeholder="address1, address2(if relevant), city" />
                </div>
                <div class="mb-3">
                    <label for="postcode" class="form-label">Type your post code</label>
                    <input asp-for="foodbank.Postcode" type="text" class="form-control" id="pho" placeholder="1AB 5CD" />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-6 d-grid">
                <div class="mb-3">
                    <label for="pho" class="form-label">Phone number</label>
                    <input asp-for="foodbank.Phone" type="text" class="form-control" id="pho" placeholder="ex 123456789877" aria-describedby="phor"/>
                    <div id="phor" class="form-text">This will be your contact phone for general enquiries from the public</div>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Website URL</label>
                    <input asp-for="foodbank.Homepage" type="url" class="form-control" id="website" placeholder="ex: https://www.salvationarmy.org.uk"/>
                </div>
            </div>
            <div class="col-6 d-grid">
                <div class="col-10">
                    <h4> </h4>
                </div>
                <div class="col-4">
                    <select asp-for="foodbank.Country"class="form-select" aria-label="Country">
                        <option selected>Country</option>
                        <option value="England">England</option>
                        <option value="Scotland">Scotland</option>
                        <option value="Wales">Wales</option>
                        <option value="Northern Ireland">N. Ireland</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Isle of Man">Isle of Man</option>
                    </select>
                </div>
                <div class="col-4">
                    <select asp-for="foodbank.Network" class="form-select" aria-label="Network or association">
                        <option selected>Select the network you are associated with</option>
                        <option value="Trussel Trust">Trussel Trust</option>
                        <option value="IFAN">IFAN</option>
                        <option value="Independent">Independent</option>
                    </select>
                </div>
                <div class="col-4">
                    <label for="since" class="form-label">Date stablished</label>
                    <input asp-for="foodbank.Created" type="datetime" class="form-control" id="dacre" />
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-5 d-grid mx-auto">
                <div class="mb-3">
                    <label for="cortemp" class="form-label">(Temporal) input coordinates</label>
                    <input asp-for="lat" type="float" class="form-control" id="longi" />
                    <input asp-for="lng" type="float" class="form-control" id="lati" />
                </div>
            </div>
        </div>
        <!--<div class="row mt-2">
            <div class="d-grid col-6 mx-auto">
                <label for="needs" class="form-label">Main or urgent needs for your foodbank</label>
                <input asp-for="needs" type="text" class="form-control" id="ne1" placeholder="Item 1" />
                <input asp-for="needs" type="text" class="form-control" id="ne2" placeholder="Item 2" />
                <input asp-for="needs" type="text" class="form-control" id="ne3" placeholder="Item 3" />
                <input asp-for="needs" type="text" class="form-control" id="ne4" placeholder="Item 4" />
                <input asp-for="needs" type="text" class="form-control" id="ne5" placeholder="Item 5" />
                <input asp-for="needs" type="text" class="form-control" id="ne6" placeholder="Item 6" />
            </div>
        </div>-->
        <div class="row mt-3">
            <div class="col-9 d-grid mx-auto">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="consent"/>
                    <label class="form-check label" for="consent"><strong>I consent to let foodbank finder collect and display the provided information</strong></label>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-9 d-grid mx-auto">
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="confirm"/>
                    <label class="form-check label" for="confirm"><strong>
                        I confirm that the provided information is true to the extent of my knowledge</strong>
                    </label>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-9 d-grid mx-auto">
                <input type="submit" class="btn btn-outline-success">
            </div>
        </div>
    </div>
</form>