@page
@model AddBankModel
@{
    ViewData["Title"] = "Add foodbank";
    Layout = "Shared/_Layout";
}

<link rel="stylesheet" href="/css/Control.Geocoder.css"/>
<link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css"/>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/Index">Back</a>
            </div>
        </div>

        <div class="col-md-6 text-center">
            <h1 class="display-4">Foodbank Submission Form</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-grid col-7 mx-auto">
        <p class="h6 text-box">
            We are glad that you have decided to register your foodbank with us please fill up the required fields
            and press the submit button. Please bear in mind that "Foodbank finder" reserves the right to accept or reject your submission. You
            will recieve an email with our decision soon after you submitted. NOTE: the fields with a star are mandatory
        </p>
    </div>
</div>

<form method="post">
    <div class="container">
        <div class="row">
            <div class="col-5 d-grid mx-auto">
                <div class="mb-3">
                    <label asp-for="Foodbank.Name" class="form-label">
                        <strong>Enter the name of your foodbank/charity *</strong>
                    </label>
                    <span asp-validation-for="Foodbank.Name" class="text-danger"></span>
                    <input asp-for="Foodbank.Name" type="text" class="form-control" id="fbName" placeholder="ex: West Cheshire Foodbank"/>
                </div>
                
                <div class="mb-3">
                    <label asp-for="Foodbank.CharityNumber" class="form-label">Charity No (if applicable)</label>
                    <input asp-for="Foodbank.CharityNumber" type="text" class="form-control" id="charno" placeholder="ex: 1234567" aria-describedby="measure"/>
                    <div id="measure" class="form-text">If you are not a registered charity you may need to provide proof of identity</div>
                </div>
                <div class="mb-3">
                    <label asp-for="Foodbank.CharityRegisterUrl" class="form-label"> Charity Regiser URL</label>
                    <input asp-for="Foodbank.CharityRegisterUrl" type="url" class="form-control" id="regurl" aria-describedby="urlwhat"/>
                    <div id="urlwhat" class="form-text">The link to your charity page on the national register</div>
                </div>
                
            </div>
            <div class="col-6 d-grid">

                <div class="mb-3">
                    <label asp-for="Foodbank.Homepage" class="form-label">
                        <strong>Website URL *</strong>
                    </label>
                    <span asp-validation-for="Foodbank.Homepage" class="text-danger"></span>
                    <input asp-for="Foodbank.Homepage" type="url" class="form-control" id="website" placeholder="ex: https://www.salvationarmy.org.uk"/>
                </div>
                <div class="mb-3">
                    <label asp-for="Foodbank.Email" class="form-label">
                        <strong>Contact Email *</strong>
                    </label>
                    <span asp-validation-for="Foodbank.Email" class="text-danger"></span>
                    <input asp-for="Foodbank.Email" type="email" class="form-control" id="fbEmail" placeholder="ex: brelan@yahoo.co.uk" aria-describedby="emInst"/>
                    <div id="emInst" class="form-text">This will be the E-mail we'll use to comunicate with you</div>
                </div>
                <div class="mb-3">
                    <label for="pho" class="form-label">
                        <strong>Phone number *</strong>
                    </label>
                    <input asp-for="Foodbank.Phone" type="text" class="form-control" id="pho" placeholder="ex 123456789877" aria-describedby="phor"/>
                    <span asp-validation-for="Foodbank.Phone" class="text-danger"></span>
                    <div id="phor" class="form-text">This will be your contact phone for general enquiries from the public</div>
                </div>
                
                
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <div class="col-8">
                    <label asp-for="Foodbank.Country" class="form-label">
                        <strong>Country *</strong>
                    </label>
                    <span asp-validation-for="Foodbank.Country" class="text-danger"></span>
                    <select asp-for="Foodbank.Country" class="form-select" aria-label="Country">
                        <option selected>Country</option>
                        <option value="England">England</option>
                        <option value="Scotland">Scotland</option>
                        <option value="Wales">Wales</option>
                        <option value="Northern Ireland">N. Ireland</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Isle of Man">Isle of Man</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <label asp-for="Foodbank.Network" class="form-label">
                        <strong>Network *</strong>
                    </label>
                    <span asp-validation-for="Foodbank.Network" class="text-danger"></span>
                    <select asp-for="Foodbank.Network" class="form-select" aria-label="Network or association">
                        <option selected>Select your network</option>
                        <option value="Trussel Trust">Trussel Trust</option>
                        <option value="IFAN">IFAN</option>
                        <option value="Independent">Independent</option>
                    </select>
            </div>
        </div>
        <div class="col-12">
            <label asp-for="Foodbank.Postcode" class="form-label">
                <strong>Type your post code in the search box below and press enter to generate coordinates and address *</strong>
            </label>
            <span asp-validation-for="Foodbank.Postcode" class="text-danger"></span>
            <div id="map" style="height: 25vw;margin: 2% auto auto;"></div>
            <div class="row">
                <div class="col-6 d-grid">
                    <input class="mt-1" id="map-housenumber" value="" placeholder="House Number"/>
                    <input class="mt-1" id="map-postcode" asp-for="Foodbank.Postcode" value="" placeholder="Postcode"/>
                </div>

                <div class="col-6 d-grid">
                    <input class="mt-1" id="map-street" value="" placeholder="Street/Road"/>
                    <input class="mt-1" id="map-address" asp-for="Foodbank.Address" value="" readonly placeholder="Address"/>
                </div>
            </div>


            <!--<div class="mb-3 d-grid">-->

            <div class="mb-3 invisible">
                <input id="map-lat" asp-for="Lat" value="" readonly placeholder="Latitude"/>
                <input id="map-lng" asp-for="Lng" value="" readonly placeholder="Longitude"/>
            </div>
        </div>
    </div>

    <span asp-validation-for="Lat" class="text-danger"></span>

    <div class="row mt-3">
        <div class="col-9 d-grid mx-auto">
            <div class="mb-3 form-check">
                <input asp-for="Consent" type="checkbox" class="form-check-input" required id="consent" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the terms and conditions' : '');"/>
                <label class="form-check label" for="consent">
                    <strong>I consent to let foodbank finder collect and display the provided information</strong>
                </label>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-9 d-grid mx-auto">
            <div class="mb-3 form-check">
                <input asp-for="Confirm" type="checkbox" class="form-check-input" required id="confirmation" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you vouch for the validity of the info' : '');"/>
                @* ReSharper disable once Html.IdNotResolved *@
                <label class="form-check label" for="confirm">
                    <strong>
                        I confirm that the provided information is true to the extent of my knowledge
                    </strong>
                </label>
            </div>
        </div>
    </div>
    <div class="row gx-5">
        <div class="col-9 d-grid mx-auto">
            <input type="submit" class="button btn btn-outline-success">
        </div>
    </div>

</form>

@section Scripts{
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet-src.js"></script>
    <script src="/js/Control.Geocoder.js"></script>

    <script type="text/javascript">

        var map = L.map('map').setView([ 54.596442,  -3.9], 6);

        var geocoder = L.Control.Geocoder.nominatim({
             geocodingQueryParams: {countrycodes: 'gb,im,gg,je'}
        });
        if (typeof URLSearchParams !== 'undefined' && location.search) {
          var params = new URLSearchParams(location.search);
          var geocoderString = params.get('geocoder');
          if (geocoderString && L.Control.Geocoder[geocoderString]) {
            console.log('Using geocoder', geocoderString);
            geocoder = L.Control.Geocoder[geocoderString]();
          } else if (geocoderString) {
            console.warn('Unsupported geocoder', geocoderString);
          }
        }
        var ml;

        var control = L.Control.geocoder({
            collapsed: false,
            placeholder: 'Search Postcode or Address',
            geocoder
        })

        .on('markgeocode', function(e) {
          var usersLatitude = e.geocode.center.lat;
          var usersLongitude = e.geocode.center.lng;
          ml = e;
          console.log(e);
          var addressString = "";
          $("#map-lat").val(usersLatitude);
          $("#map-lng").val(usersLongitude);
          $("#map-postcode").val(e.geocode.properties.address.postcode);
          if (e.geocode.properties.address.house_number !== undefined)    { addressString = addressString.concat(e.geocode.properties.address.house_number + ",")}
          if (e.geocode.properties.address.road !== undefined)            { addressString = addressString.concat(e.geocode.properties.address.road + ",")}
          if (e.geocode.properties.address.neighbourhood !== undefined)   { addressString = addressString.concat(e.geocode.properties.address.neighbourhood + ",")}
          if (e.geocode.properties.address.town !== undefined)            { addressString = addressString.concat(e.geocode.properties.address.town + ",")}
          if (e.geocode.properties.address.suburb !== undefined)          { addressString = addressString.concat(e.geocode.properties.address.suburb + ",")}
          if (e.geocode.properties.address.city !== undefined)            { addressString = addressString.concat(e.geocode.properties.address.city + ",")}
          if (e.geocode.properties.address.country !== undefined)         { addressString = addressString.concat(e.geocode.properties.address.country  + ",")}
          if (e.geocode.properties.address.state !== undefined)           { addressString = addressString.concat(e.geocode.properties.address.state)}

          console.log(addressString);
          $("#map-address").val(addressString);
        })
        .addTo(map);

        control._expand();

        L.tileLayer('https://{s}.tile.osm.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        document.getElementById("consent").setCustomValidity("Please indicate that you accept the terms and conditions");
        document.getElementById("confirmation").setCustomValidity("Please indicate that you vouch for the validity of the info");

        confirmation.value = false;
        consent.value = false;
        </script>

    <partial name="_ValidationScriptsPartial"/>
}