@page
@model EditBankModel
@{
    ViewData["Title"] = "Edit foodbank";
}

<div class="text-center">
    <h1 class="display-4">Foodbank Page Editor</h1>
</div>

<div class="container">
    <div class="d-grid col-7 mx-auto">
        <p class="h6 text-box">
            Here you can edit the details of your foodbank. Bear in mind that the before the changes are applied an admin will inspect them.
            If they are not approved, the changes will not be applied.
        </p>
    </div>
</div>

<form method="post">
    <input asp-for="FoodEdit!.FoodbankId" type="hidden"/>
    <div class="container">
        <div class="row">
            <div class="col-6 d-grid mx-auto">
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Name" class="form-label">Foodbank name</label>
                    <input asp-for="FoodEdit!.Name" type="text" class="form-control" id="editName"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Email" class="form-label">Contact Email</label>
                    <input asp-for="FoodEdit!.Email" type="email" class="form-control" id="editEmail"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.CharityNumber" class="form-label">Charity No </label>
                    <input asp-for="FoodEdit!.CharityNumber" type="text" class="form-control" id="editChar"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.CharityRegisterUrl" class="form-label">Register URL</label>
                    <input asp-for="FoodEdit!.CharityRegisterUrl" type="url" class="form-control" id="editReg"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Phone" class="form-label">PhoneNo</label>
                    <input asp-for="FoodEdit!.Phone" type="text" class="form-control" id="editPhone"/>
                </div>
            </div>
            <div class="col-6 d-grid mx-auto">
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Address" class="form-label">Address</label>
                    <input asp-for="FoodEdit!.Address" type="text" class="form-control" id="editAddress"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Postcode" class="form-label">PostCode</label>
                    <input asp-for="FoodEdit!.Postcode" type="text" class="form-control" id="editPost"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Homepage" class="form-label">Website</label>
                    <input asp-for="FoodEdit!.Homepage" type="url" class="form-control" id="editSite"/>
                </div>
                <div class="mb-3">
                    <label asp-for="FoodEdit!.Notes" class="form-label">Social media</label>
                    <input asp-for="FoodEdit!.Notes" type="text" class="form-control" id="editSocial"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 d-grid mx-auto">
                <div class="col-5">
                    <select asp-for="FoodEdit!.Network" class="form-select" aria-label="Network or association">
                        <option selected>Network</option>
                        <option value="Trussel Trust">Trussel Trust</option>
                        <option value="IFAN">IFAN</option>
                        <option value="Independent">Independent</option>
                    </select>
                </div>
            </div>
            <div class="col-6 d-grid mx-auto">
                <div class="col-5">
                    <select asp-for="FoodEdit!.Country" class="form-select" aria-label="Country">
                        <option selected>Country</option>
                        <option value="England">England</option>
                        <option value="Scotland">Scotland</option>
                        <option value="Wales">Wales</option>
                        <option value="Northern Ireland">N. Ireland</option>
                        <option value="Guernsey">Guernsey</option>
                        <option value="Jersey">Jersey</option>
                        <option value="Isle of Man">Isle of Man</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col d-grid mx-auto">
                <button type="submit" class="button btn btn-outline-success">Submit changes</button>
            </div>
        </div>
    </div>
</form>