@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/RecipeForm">Submit&nbsp;your&nbsp;Recipe</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Index">Home</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Dish">Dish of the day</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">

            <h1 class="display-4">Select a recipe category</h1>
        </div>
        <div class="col-md-3 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>

</div>



<div class="container mt-5">
    <div class="row spacingB">
        <div class="container col-md-3 text-center">

            <img src="~/img/SpecialEvent.jpg" alt="Special Event" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Special">Special Events</a>
            </a>
        </div>
        <div class="col-md-3 text-center">

            <img src="~/img/Vegetables.jpg" alt="Vegetarian Dishes" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Vegetarian">Vegetarian Dishes</a>

            </a>
        </div>
        <div class="col-md-3 text-center">

            <img src="~/img/Meat.jpg" alt="Meat Dishes" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Meat">Meat Dishes</a>

            </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a asp-page="/Recipes/Search">
                <img src="~/img/Fish.jpg" alt="Fish Dishes" class="recipe-icons" /><br />
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Fish">Fish Dishes</a>

            </a>
        </div>
    </div>
</div>


<div class="container mt-5">
    <div class="row spacingB">
        <div class="col-md-3 text-center">
            <a asp-page="/Recipes/Search">
                <img src="~/img/Soup.jpg" alt="Soups" class="recipe-icons" /><br />
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Soups">Soups</a>

            </a>
        </div>
        <div class="col-md-3 text-center">

            <img src="~/img/SideDish.jpg" alt="Side Dishes" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Side">Side Dishes</a>

            </a>
        </div>
        <div class="col-md-3 text-center">

            <img src="~/img/Desserts.jpg" alt="Desserts" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search" asp-route-catName="Desserts">Desserts</a>

            </a>
        </div>
        <div class="col-md-3 text-center">

            <img src="~/img/Snacks.jpg" alt="Snacks" class="recipe-icons" /><br />
            <a asp-page="/Recipes/Search">
                <a class="btn mt-2 btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Search"asp-route-catName="Snacks">Snacks</a>

            </a>
        </div>
    </div>
</div>
