@page
@model IndexModel
@{
    ViewData["Title"] = "Recipes";
}

@{
    ViewData["Title"] = "Recipe Form";
}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/RecipeForm">Submit&nbsp;your&nbsp;Recipe</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Index">Home</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">

            <h1 class="display-4">Select a recipe category</h1>
        </div>
        <div class="col-md-3 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>

</div>

<label for="Categories">Select recipe Categories::</label> <br />


<div class="container mt-5">
    <div class="row spacingB">
        <div class="container col-md-3 text-center">
            <a href="/QuickRecipes">
                <img src="~/img/clock-icon.png" alt="Quick" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Quick Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/HealthyMeals">
                <img src="~/img/vegetarian-logo.png" alt="Healthy" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Healthy Meals</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/ATW">
                <img src="~/img/image (1).png" alt="Around the World" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Around the World</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <<a asp-page="/Recipes/RecipeForm">
                <img src="~/img/image (4).png" alt="Kosher" class="recipe-icons" /><br />
                <a href="/Recipes/RecipeForm">
                    <button type="button">Kosher Meals</button>
                </a>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row spacingB">
        <div class="col-md-3 text-center">
            <a asp-page="/Recipes/Search">
                <img src="~/img/fmly.jpg" alt="Family" class="recipe-icons" /><br />
                <a href="/Family">
                    <button type="button">Family Favourites</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">

            <a href="/HalalRecipes">
                <img src="~/img/image (3).png" alt="Halal" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Halal Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/VeganRecipes">
                <img src="~/img/image (2).png" alt="Vegan" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Vegan Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">

            <a href="/FakeAway">
                <img src="~/img/image (1).jpg" alt="Fake-away" class="recipe-icons" /><br />
                <a asp-page="/Recipes/Search">
                    <button type="button">Fake away</button>
                </a>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 text-center">
            <a asp-page="/Recipes/Search">
                <img src="~/images/image.jpg.png" alt="Desserts" class="recipe-icons" /><br />
                <a href="/Dessert">
                    <button type="button">Desserts</button>
                </a>

            </a>
        </div>
    </div>
</div>




<div class="text-center spacingT spacingB">
    <a href="/RecipeForm">
        <button>Donate Recipe</button>
    </a>
</div>


@*Recipe of the day
*@
<div class="text-left">
    <h1 class="display-4">Recipe Of The Day</h1>
</div>
<div class="text-left">
    <h2 class="display-4">Cacio E Pepe</h2>
</div>

@for(int i = 1; i <= 4; i++)
{
    
}
<div class="row">
    <div class="col-md-6">
        <p>Budget:£7</p>

        <p>
            Ingredients:<br />
            200g bucatini or spaghetti<br />
            25g butter<br />
            2 tsp whole black peppercorns, ground, or 1 tsp freshly ground black pepper<br />
            50g pecorino or parmesan, finely grated
        </p>
    </div>

    <div class="text-end col-sm-6">
        <img src="~/img/spaghetti.png" alt="Cacio E Pepe" />
    </div>
</div>

<div class="spacingB">
    <p>
        Cook the pasta for 2 mins less than pack instructions state, in salted boiling water. Meanwhile, melt the butter in a medium frying pan over a low heat, then add the ground black pepper and toast for a few minutes.

        Drain the pasta, keeping 200ml of the pasta water. Tip the pasta and 100ml of the pasta water into the pan with the butter and pepper. Toss briefly, then scatter over the parmesan evenly, but don’t stir – wait for the cheese to melt for 30 seconds, then once melted, toss everything well, and stir together. This prevents the cheese from clumping or going stringy and makes a smooth, shiny sauce. Add a splash more pasta water if you need to, to loosen the sauce and coat the pasta. Serve immediately with a good grating of black pepper.
    </p>
</div>