@page
@model RecipeFormModel
@{
    ViewData["Title"] = "Recipe Form";
}

<div class="row">
    <div class="text-center">
        <h1>Add A Recipe</h1>
    </div>

    <div class="col-sm-2">
        <a href="/Recipes" class="Previous">&laquo; Back</a>
    </div>

</div>
<form method="POST" enctype="multipart/form-data">

    <div class="container spacingB spacingT">
        <label for="RecipeName">Recipe Name:</label><br />
        <input asp-for="Recipe.Name" type="text"  /><br />
    </div>


    <div class="container spacingB spacingT">
        <label for="Ingredients">Ingredients</label>
       <textarea asp-for="Recipe.Ingredients"type="text" class="form-control" ></textarea><br />
@*        <input asp-for="Recipe.Ingredients"type="text" class="form-control" ><br />
*@    </div>


    <div class="container spacingB spacingT">
        <label for="RecipeMethod">Recipe Method:</label><br />
        <textarea asp-for="Recipe.Method"type="text" class="form-control"></textarea><br />
    </div>

    <div>
        Upload Image: (Image size should be 300x300)<br />
        <input type="file" id="file 1"
               asp-for="Image"
               multiple="multiple" />
    </div>

    <input type="submit" />
</form>
