@page
@model RecipeFormModel
@{
    ViewData["Title"] = "Recipe Form";
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Index">Back</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">

            <h1 class="display-4">Add A Recipe</h1>
        </div>
        <div class="col-md-3 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>

</div>

<form method="POST" enctype="multipart/form-data">

    <div class="container mt-5T">

        <div class="col-md-3">
            <label asp-for="Recipe.Name">Recipe Name:</label><br/>
            <span asp-validation-for="Recipe.Name" class="text-danger"></span>
            <input class="text-box" asp-for="Recipe.Name" type="text"/><br/>
            <label asp-for="Recipe.Serves">Recipe Serves:</label><br/>
            <input class="text-box" asp-for="Recipe.Serves" type="text"/><br/>
        </div>

        <label asp-for="Recipe.Categories">Select recipe Categories::</label> <br/>
        <div class="text-box col-md-2">
            @foreach (var category in Model.SelectedCategories)
            {
                <label>@Html.DisplayFor(model => category.Value.Item1!.Name)</label>
                <input asp-for="SelectedCategories[category.Key].Item2" type="checkbox">
                <br/>
            }

        </div>
    </div>
    <div class="container  spacingT">
        <label asp-for="Recipe.Ingredients">Ingredients:</label>
        <span asp-validation-for="Recipe.Ingredients" class="text-danger"></span>

        <textarea asp-for="Recipe.Ingredients" rows="4" cols="1" class="form-control text-box"></textarea><br/>

    </div>


    <div class="container">
        <label asp-for="Recipe.Method">Recipe Method:</label><br/>
        <span asp-validation-for="Recipe.Method" class="text-danger"></span>
        <textarea asp-for="Recipe.Method" rows="4" cols="1" class="form-control text-box"></textarea><br/>
    </div>
    <div class="container">
        <label asp-for="Recipe.Notes">Recipe Notes:</label><br/>
        <textarea asp-for="Recipe.Notes" rows="2" cols="1" class="form-control text-box"></textarea><br/>
    </div>

    <div class="container mt-2">
        Upload Image: (Image size should be 300x300)<br/>

        <input class="button mt-3 btn btn-lg btn-outline-success" type="file"
               asp-for="Image"/>

        <br/>
        <input class="button mt-3 btn btn-lg btn-outline-success" type="submit"/> <br/>
        <!--<label asp-for="Recipe.Status">Status is awaiting approval:</label>-->

    </div>
</form>