@page
@model RecipeFormModel
@{
    ViewData["Title"] = "Recipe Form";
}

<div class="row">
    <div class="text-center">
        <h1>Add A Recipe</h1>
    </div>

    <div class="col-sm-2">
        <a href="/Recipes" class="Previous">&laquo; Back</a>
    </div>

</div>

<form>
    
    <div class="container spacingB spacingT">
        <label for="RecipeName">Recipe Name:</label><br/>
        <input type="text" name="RecipeName"/><br/>
    </div>


    <div class="container spacingB spacingT">
        <label for="Ingredients">Ingredients</label>
        <textarea class="form-control" name="Ingredients"></textarea><br/>
    </div>


    <div class="container spacingB spacingT">
        <label for="RecipeInstruction">Recipe Instructions:</label><br/>
        <textarea class="form-control" name="RecipeInstructions"></textarea><br/>
    </div>


    <input type="submit"/>
</form>
