@page
@model ThankyouModel
@{
    ViewData["Title"] = "Search Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Index">Back</a>
            </div>
        </div>
    </div>
</div>

  <div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <p class=" text-box h4">
                  On behalf of the foodbank,a huge Thank you fore your sumbission
                All this food will enable the foodbank to help relieve some of the haedship
                many Gateshead families are facing the momment
                with very grateful Thanks
                </p>
            </figure>
        </div>
    </div>
</div>

<div class="container mb-3">
    <img src="~/img/thankyou.jpg" class="img-fluid rounded mx-auto d-block" alt="Teams holding hands together"/>
</div>

