@page
@model Foodbank_Project.Pages.Recipes.thankyouModel
@{
    ViewData["Title"] = "Thankyou";
}
<div class="container mb-3">
    <img src="~/img/thankyou.jpg class="img-fluid rounded mx-auto d-block" alt="Teams holding hands together"/>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <p class=" text-box h4">
                  Thankyou so much to join us
                </p>
            </figure>
        </div>
    </div>
