@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Foodbank Finder</title>
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css//site.css" asp-append-version=true />
</head>

<body>
<div class="d-flex flex-column min-vh-100 w-100 overflow-hidden" style="margin-bottom: -60px;">
    <div class="d-flex flex-grow-1 justify-content-center align-items-center w-100">
    <h1>@ViewData["Title"]</h1>
        <form id="account" method="post" class="d-flex justify-content-center flex-column m-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating pt-2 pb-2 w-100">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating pt-2 pb-2 w-100">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <div class="checkbox">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
            </div>
            <div>
                <button id="login-submit" type="submit" class="btn btn-outline-success btn-lg btn-block">Log in</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>