@page
@model DonateMoneyModel
@{
    ViewData["Title"] = "Give Help";
}

<div class="container m-2">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <button type="button" class="btn btn-lg btn-outline-success">Back</button>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="display-4 text-success">Donate Funds</h1>
        </div>
        <div class="col-md-20 text-center">
            <h1 class="display-4"> </h1>
        </div>
    </div>
</div>