@page
@model GetHelpModel
@{
    ViewData["Title"] = "Get Help";
}

<div class="text-center">
    <h1 class="display-4">Get Help From Your Local Foodbank</h1>
</div>

<h2 class="text-center">Contact Your Local Foodbank Today!</h2>

<div>
    <form>
        <div class="mb-3">
            <label for="searchFoodbank" class="form-label">Find your nearest Foodbank</label>
            <input type="text" class="form-control" id="searchFoodbank" placeholder="Enter postcode" aria-describedby="searchBank" />
            <div id="searchBank" class="form-text">Enter your postcode to find the nearest foodbank.</div>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>





@*Information on getting food from the banks*@

<div class="text-center">
    <h2 class="display-4">How The Foodbank System Works</h2>
    <h3>Getting food from food banks is something anybody 
        can do in 3 simple steps.</h3>
</div>

 
<div class="container mt-2 spacingT">
    <div class="row grid">
        <div class="col-sm spacingT">
                <h3 class="spacingB">Step 1:Find A Foodbank</h3>
                <p class="text-box">Locate then contact your nearest foodbank by searching in the box above in order to
                    get familiar with their requirements.
                </p>
        </div>

        <div class="col-sm spacingT">
                <h3 class="spacingB">Step 2: Obtain A Voucher</h3>
                <p class="text-box">All people looking to obtain food from a foodbank must have a voucher.
                    Referrals for obtaining a voucher can be found from the Citizen Advice Bureaus or by calling the numbers below.
                </p>
        </div>

        <div class="col-sm spacingT">
                <h3 class="spacingB">Step 3: Get Food</h3>
                <p class="text-box">After locating and contacting the foodbank, during open hours, food can be obtained!</p>
         </div>




    </div>

</div>


@*Phone numbers/contacts*@

<div class="container mt-3">
    <div class="row">

        <div class="col-sm-4 spacingT">
            <h3 class="text-center">England and Wales</h3>
            <h3 class="text-center">0808 208 2138</h3>

            <div class="imageGH spacingB">
                <img src=~/Images/EnW.png alt="Citizens Advice Logo" style="width:75px;height:75px"/>
            </div>

        </div>

        <div class="col-sm-4 spacingT">
            <h3 class="text-center">Northern Ireland</h3>
            <h3 class="text-center">0800 915 4604</h3>

            <div class="imageGH spacingB">
                            <img src=~/Images/NorthIreland.png alt="Advice NI Logo" style="width:150px;height:75px"/>
            </div>

            
        </div>

        <div class="col-sm-4 spacingT">
            <h3 class="text-center">Scotland</h3>
            <h3 class="text-center">0800 028 1456</h3>

            <div class="imageGH spacingB">
            <img src=~/Images/Scotland.png alt="Citizens Advice Scotland Logo" style="width:75px;height:75px"/>
            </div>
        </div>

    </div>

</div>
