@page
@model GiveHelpModel
@{
    ViewData["Title"] = "Give Help";
}


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <button type="button" class="btn btn-lg btn-outline-success">Donate Funds</button>
            </div>
            <div class="m-2 d-grid">
                <button type="button" class="btn btn-lg btn-outline-success">Donate Food</button>
            </div>
            <div class="m-2 d-grid">
                <button type="button" class="btn btn-lg btn-outline-success">Volunteering</button>
            </div>
            <div class="m-2 d-grid">
                <button type="button" class="btn btn-lg btn-outline-success">Fundraising</button>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="display-4"> Ways to Help</h1>
        </div>
        <div class="col-md-20 text-center">
            <h1 class="display-4"> </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <p class=" text-box h4">
                    <em>
                        There are several ways help can be given, from donating funds to donating food or volunteering.
                        Click one of the options of the menu on the left for more details
                    </em>
                </p>
            </figure>
        </div>
    </div>
</div>

<div class="container">
    <img src="~/Images/give-help-ver2.png" class="img-fluid rounded mx-auto d-block" alt="parcel"/>
</div>