@page
@model IndexModel
@{
}
<div class="text-center">
    <h1 class="display-4">Index Page</h1>
</div>

<h1>Test New heading</h1>
<h2>My Map</h2>
<div id="map" class="map"></div>
<script type="text/javascript">
    var map = new ol.Map({
    target: 'map',
    layers: [
        new ol.layer.Tile({
        source: new ol.source.OSM()
        })
    ],
    view: new ol.View({
        center: ol.proj.fromLonLat([-2.575876, 53.371478]),
        zoom: 10
    })
    });
</script>