@page
@model IndexModel
@{
    await Html.RenderPartialAsync("Shared/_LoginPartial");
}
<div class="text-center">
    <h1 class="display-4">Welcome to Foodbank finder</h1>
</div>

<div class="ql">
    <div class="left">
        <button class="button" type="button">Button1</button>
    </div>

    <div class="mid">
        <button class="button" type="button">Button2</button>
    </div>

    <div class="right">
        <button class="button" type="button">Button3</button>
    </div>
</div>

<!--Replace with fragment Suggestion: if we are going to have a carousel it may be best to have it as a fixed part of the page.-->
<div class="txt-intro">
    <p>intro text that explains stuff to the user what we do and all that good stuff</p>
    <p>intro text that explains stuff to the user what we do and all that good stuff</p>
    <p>intro text that explains stuff to the user what we do and all that good stuff</p>
    <p>intro text that explains stuff to the user what we do and all that good stuff</p>
    <p>intro text that explains stuff to the user what we do and all that good stuff</p>
</div>

<div id="intro-car" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#intro-car" data-bs-slide-to="0" class="active" aria-current="true" aria-label="slide 1"></button>
        <button type="button" data-bs-target="#intro-car" data-bs-slide-to="1" aria-label="slide 2"></button>
        <button type="button" data-bs-target="#intro-car" data-bs-slide-to="2" aria-label="slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/image te1.png" class="d-block w-100" alt="foodbank" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/image te2.png" class="d-block w-100" alt="donation" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/image te3.png" class="d-block w-100" alt="helping" />
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#intro-car" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Prev</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#intro-car" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hiddne="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Suggestion: this can be the editable part of the site. Alternatively here we can add the find a foodbank section as the client requested-->
<div class="sub3">
    <h3>Subheading</h3>
</div>
<div>
    <form>
        <div class="mb-3">
            <label for="searchFoodbank" class="form-label">Find your nearest Foodbank</label>
            <input type="text" class="form-control" id="searchFoodbank" placeholder="Enter postcode" aria-describedby="searchBank" />
            <div id="searchBank" class="form-text">Enter your postcode to find the nearest foodbank.</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="consentLoc" />
            <label class="form-check-label" for="consentLoc">I consent to fb finder to locate me</label>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<!--End of fragment-->

<div class="donate d-lg-grid">
    <button class="button" type="button">DONATE</button>
</div>