@page
@model Foodbank_Project.Pages.QuickRecipesModel
@{
    ViewData["Title"] = "Quick Recipes Page";
}

<h1 class="text-center">Quick Recipes</h1>


<a href="/RecipeLandingPage">
<button type="button">Quick Recipe 1</button>
    
</a>