@page
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <h1 class="display-4">Recipes Page</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/QuickRecipes">
                <img src="~/images/image.jpg" alt="Quick" class="recipe-icons"/>
                <a href="/QuickRecipes">
                    <button type="button">Quick Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/HealthyMeals">
                <img src="~/images/image.png" alt="Healthy" class="recipe-icons"/>
                <a href="/HealthyMeals">
                    <button type="button">Healthy Meals</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/ATW">
                <img src="~/Images/image (1).png" alt="Around the World" class="recipe-icons"/>
                <a href="/ATW">
                    <button type="button">Around the World</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/KosherMeals">
                <img src="~/images/image (4).png" alt="Kosher" class="recipe-icons"/>
                <a href="/KosherMeals">
                    <button type="button">Kosher Meals</button>
                </a>
            </a>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <a href="/Family">
                <img src="~/images/fmly.jpg" alt="Family" class="recipe-icons"/>
                <a href="/Family">
                    <button type="button">Family Favourites</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            
            <a href="/HalalRecipes">
                <img src="~/images/image (3).png" alt="Halal" class="recipe-icons"/>
                <a href="/HalalRecipes">
                    <button type="button">Halal Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            <a href="/VeganRecipes">
                <img src="~/images/image (2).png" alt="Vegan" class="recipe-icons"/>
                <a href="/VeganRecipes">
                    <button type="button">Vegan Meal</button>
                </a>
            </a>
        </div>
        <div class="col-md-3 text-center">
            
            <a href="/FakeAway">
                <img src="~/images/image (1).jpg" alt="Fake-away" class="recipe-icons"/>
                <a href="/FakeAway">
                    <button type="button">Fake away</button>
                </a>
            </a>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="row">
        <div class="col-md-3 justify-content-center text-center">
            <a href="/Dessert">
                <img src="~/images/image.jpg.png" alt="Desserts" class="recipe-icons"/>
                    <a href="/Dessert">
                        <button type="button">Desserts</button>
                     </a>

            </a>
        </div>
    </div>
</div>




<div class="text-center spacingT spacingB">
    <a href="/RecipeForm">
        <button>Donate Recipe</button>
    </a>
</div>


@*Recipe of the day
*@
<div class="text-left">
    <h1 class="display-4">Recipe Of The Day</h1>
</div>
<div class="text-left">
    <h2 class="display-4">Cacio E Pepe</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Budget:£7</p>

        <p>
            Ingredients:<br/>
            200g bucatini or spaghetti<br/>
            25g butter<br/>
            2 tsp whole black peppercorns, ground, or 1 tsp freshly ground black pepper<br/>
            50g pecorino or parmesan, finely grated
        </p>
    </div>

    <div class="text-end col-sm-6">
        <img src="~/images/image (5).png" alt="Cacio E Pepe"/>
    </div>
</div>

<div class="spacingB">
    <p >
        Cook the pasta for 2 mins less than pack instructions state, in salted boiling water. Meanwhile, melt the butter in a medium frying pan over a low heat, then add the ground black pepper and toast for a few minutes.

        Drain the pasta, keeping 200ml of the pasta water. Tip the pasta and 100ml of the pasta water into the pan with the butter and pepper. Toss briefly, then scatter over the parmesan evenly, but don’t stir – wait for the cheese to melt for 30 seconds, then once melted, toss everything well, and stir together. This prevents the cheese from clumping or going stringy and makes a smooth, shiny sauce. Add a splash more pasta water if you need to, to loosen the sauce and coat the pasta. Serve immediately with a good grating of black pepper.
    </p>
</div>