@page
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <h1 class="display-4">Recipes Page</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <img src="~/images/image.jpg" alt="Quick"/>
        </div>
        <div class="col-3 text-center">
            <img src="~/images/image.png" alt="Healthy"/>
        </div>
        <div class="col-3 text-center">
            <img src="~/Images/image (1).png" alt="Around the World"/>
        </div>
        <div class="col-3 text-center">
            <img src="~/images/image (4).png" alt="Kosher"/>
        </div>
    </div>
    <div class="row">
        <div class="col-3 d-grid">
            <button type="button">Quick Meal</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Healthy Meal</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Around the World</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Kosher Meal</button>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-3 text-center RecipeImages">
            <img src="~/images/fmly.jpg" alt="Family"/>
        </div>
        <div class="col-md-3 text-center RecipeImages">
            <img src="~/images/image (3).png" alt="Halal"/>
        </div>
        <div class="col-md-3 text-center RecipeImages">
            <img src="~/images/image (2).png" alt="Vegan"/>
        </div>
        <div class="col-md-3 text-center RecipeImages">
            <img src="~/images/image (1).jpg" alt="Fake-away"/>
        </div>
    </div>

    <div class="row">
        <div class="col-3 d-grid">
            <button type="button">Family Favourites</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Halal Meal</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Vegan Meal</button>
        </div>
        <div class="col-3 d-grid">
            <button type="button">Fake away</button>
        </div>
    </div>
</div>


<div class="text-center">
    <img src="~/images/image.jpg.png" alt="Desserts"/>
</div>

<div class="text-center">
    <a>
        <button>Desserts</button>
    </a>
</div>


<div class="text-center spacingT spacingB">
    <a href="/RecipeForm">
        <button>Donate Recipe</button>
    </a>
</div>


@*Recipe of the day
*@
<div class="text-left">
    <h1 class="display-4">Recipe Of The Day</h1>
</div>
<div class="text-left">
    <h2 class="display-4">Cacio E Pepe</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p>Budget:£7</p>

        <p>
            Ingredients:<br/>
            200g bucatini or spaghetti<br/>
            25g butter<br/>
            2 tsp whole black peppercorns, ground, or 1 tsp freshly ground black pepper<br/>
            50g pecorino or parmesan, finely grated
        </p>
    </div>

    <div class="text-end col-sm-6">
        <img src="~/images/image (5).png" alt="Cacio E Pepe"/>
    </div>
</div>

<div class="spacingB">
    <p >
        Cook the pasta for 2 mins less than pack instructions state, in salted boiling water. Meanwhile, melt the butter in a medium frying pan over a low heat, then add the ground black pepper and toast for a few minutes.

        Drain the pasta, keeping 200ml of the pasta water. Tip the pasta and 100ml of the pasta water into the pan with the butter and pepper. Toss briefly, then scatter over the parmesan evenly, but don’t stir – wait for the cheese to melt for 30 seconds, then once melted, toss everything well, and stir together. This prevents the cheese from clumping or going stringy and makes a smooth, shiny sauce. Add a splash more pasta water if you need to, to loosen the sauce and coat the pasta. Serve immediately with a good grating of black pepper.
    </p>
</div>