@page
@model RecipesModel
@{
    ViewData["Title"] = "Recipes";
}

<div class="text-center">
    <h1 class="display-4">Recipes Page</h1>
    </div>
    <div class="text-center">
    <img src="~/images/image.jpg" alt="">
    </div>
<div class="text-center">
    <button type="button">Quick Meal</button>
     </div>



    <div class="text-center">
    <img src="~/images/image.png" alt="">
    </div>
    <div class="text-center">
        <button type="button">Healthy Meal</button>
    </div> 
    

    <div class="text-center">
    <img src="~/images/image (1).png" alt="">
    </div>
    <div class="text-center">
    <button type="button">Around The Word</button>
    </div>

    <div class="text-center">
    <img src="~/images/image (4).png" alt="">
    </div>
    <div class="text-center">
    <button type="button">Kosher Meals</button>
    </div>


    <div class="text-center">
    <img src="~/images/iconfinder_family_3816.png" alt="">
    </div>
    <div class="text-center">
    <button type="button">Family Favourites</button>
    </div>

    <div class="text-center">
    <img src="~/images/image (3).png" alt="">
    </div>
    <div class="text-center">
<button type="button">Halal Meals</button>
</div>

<div class="text-center">
    <img src="~/images/image (2).png" alt="">
    </div>
<div class="text-center">
<button type="button">Vegan Meal</button>
</div>

<div class="text-center">
     <img src="~/images/image (1).jpg" alt="">
    </div>
<div class="text-center">
    <button type="button">Fake-Way</button>
</div>

<div class="text-center">
     <img src="~/images/image.jpg.png" alt="">
</div>

<div class="text-center">
<button type="button">desserts</button>
</div>


<div class="text-center">
<h1 style="background-color:tomato;">provied recipe</h1>
</div>
   


<h1>famly meal</h1>

<div class="text-left">
   <h1 class="display-4">Recipe Of The Day</h1>
   </div>
   <div class="text-left">
   <h2 class="display-4">Cacio E Pepe</h2>
   </div>

   <p>Budget:£7</p>

   <p>ngredients:

200g bucatini or spaghetti
25g butter
2 tsp whole black peppercorns, ground, or 1 tsp freshly ground black pepper
50g pecorino or parmesan, finely grated</p>


<div class="text-end">
 <img src="~/images/image (5).png">
 </div>


<p>
 Cook the pasta for 2 mins less than pack instructions state, in salted boiling water. Meanwhile, melt the butter in a medium frying pan over a low heat, then add the ground black pepper and toast for a few minutes.

Drain the pasta, keeping 200ml of the pasta water. Tip the pasta and 100ml of the pasta water into the pan with the butter and pepper. Toss briefly, then scatter over the parmesan evenly, but don’t stir – wait for the cheese to melt for 30 seconds, then once melted, toss everything well, and stir together. This prevents the cheese from clumping or going stringy and makes a smooth, shiny sauce. Add a splash more pasta water if you need to, to loosen the sauce and coat the pasta. Serve immediately with a good grating of black pepper.
</p>

<div class="text-end">
    <h2 style="background-color:blue;"</h2> 
     <button type="button">login</button>
</div>


  