@page
@model Foodbank_Project.Pages.TermsModel
@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="text-center">
    <h1 class="display-4">Terms and Conditions</h1>
</div>

<div class="text-center">
    <p class="h4 text-dark bg-transparent">Terms and conditions go here:</p>
</div>