@page
@model volunteeringModel
@{
    ViewData["Title"] = "Give Help";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/DonateMoney">Donate&nbsp;Funds</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelpSupermarkets">Donate&nbsp;Food</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/volunteering">Volunteering</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/fundraising">Fundraising</a>
            </div>

        </div>
        <div class="col-sm-6 text-center">
            <h1 class="display-4">Ways To Help</h1>
        </div>
        <div class="col-md-36 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container md-5">
    <img src="~/Images/image te3.png" class="img-fluid rounded mx-auto d-block" alt="parcel" />
</div>

<div class="container md-3">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <p class=" text-box h4"><em>You can apply to volunteer at a nearby foodbank where you can help in many ways, such as transporting supplies, working at the store or even doing some office and administrative work behind the scenes. A foodbank page will usually have a way to tell potential volunteers which positions are currently available on their site. If you have doubts you can always contact them and they will be more than happy to tell you how can you help them.</em></p>
            </figure>
        </div>
    </div>
</div>
