@page
@model Foodbank_Project.Pages.Voucher_SystemModel
@{
    ViewData["Title"] = "Voucher System";
}


<form method="post">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2">
                <div class="m-2 d-grid">
                    <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GetHelpLanding">Find&nbsp;a&nbsp;Foodbank</a>
                </div>
                <div class="m-2 d-grid">
                    <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Voucher_System">How&nbsp;the System&nbsp;Works</a>
                </div>
                <div class="m-2 d-grid">
                    <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Index">Home</a>
                </div>

            </div>
            <div class="col-sm-6 text-center">
                <h1 class="display-4">How the Voucher System Works</h1>
            </div>
            <div class="col-md-36 text-center">
                <h1 class="display-4"></h1>
            </div>
        </div>
    </div>
 </form>
