@page
@model FundraisingModel
@{
    ViewData["Title"] = "Give Help";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/DonateMoney">Donate&nbsp;Funds</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Supermarkets">Donate&nbsp;Food</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Volunteering">Volunteering</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Fundraising">Fundraising</a>
            </div>

        </div>
        <div class="col-sm-6 text-center pt-lg-3">
            <h1 class="display-2 pt-5">Fundraising</h1>
        </div>
        <div class="col-md-36 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="text-col">

            <p class=" text-box h4">
                There are many ways you can fundraise for donations for a foodbank.
                There are tried and tested methods such as organizing bake sales and challenges to more creative ones like competitions or games where people can pay to participate.
                Not every fundraiser needs to be a big event with many people,
                your fundraiser can be limited to your friends and family where small activities can be organised to help getting them involved as well.
            </p>
        </div>
    </div>
</div>

<div class="container mb-3">
    <img src="~/img/marathon-woman.png" class="img-fluid image-box rounded mx-auto d-block" alt="parcel" />
</div>

<div class="container">
    <div class="row">
        <div class="text-col">

            <p class=" text-box h4">

                You as an individual have multiple ways in which you can help a foodbank, the main amongst them is via donations of food or money. The most obvious one is donating food. Normally foodbanks will accept whatever food is donated to them, however they usually have a list of items that they would rather have. You can find that on a foodbank’s website or, if available, on the foodbank page on this site.
                While food is always appreciated foodbanks have also need of funds for a variety of reasons. On a practical manner money is necessary to keep the utilities working and to provide maintenance services if a volunteer is not available. Additionally, money donated can also be used for extra services such as financial advice and to support community groups.
                Whether it be a few cans of beans or a £10 donation, every little bit helps keep the foodbank able to help those in need..

            </p>
        </div>
    </div>
</div>