@page
@model FundraisingModel
@{
    ViewData["Title"] = "Give Help";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Index">Back</a>
            </div>

        </div>
        <div class="col-md-6 text-center pt-lg-3">
            <h1 class="display-2 pt-5">Fundraising</h1>
        </div>
        <div class="col-md-36 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="text-col">

            <p class=" text-box h4">
                There are many ways you can fundraise for donations for a foodbank.
                There are tried and tested methods such as organizing bake sales and challenges to more creative ones like competitions or games where people can pay to participate.
                Not every fundraiser needs to be a big event with many people,
                your fundraiser can be limited to your friends and family where small activities can be organised to help getting them involved as well.
            </p>
        </div>
    </div>
</div>

<div class="container mb-3">
    <img src="~/img/marathon-woman.png" class="img-fluid image-box rounded mx-auto d-block" alt="parcel" />
</div>
