@page
@model VolunteeringModel
@{
    ViewData["Title"] = "Give Help";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/DonateMoney">Donate&nbsp;Funds</a>
            </div>
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Supermarkets">Donate&nbsp;Food</a>
            </div>
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Volunteering">Volunteering</a>
            </div>
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Fundraising">Fundraising</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <h1 class="display-4">Volunteering</h1>
        </div>
        <div class="col-md-36 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="text-col">
            
                <p class=" text-box h4">
                    Anyone can apply to volunteer at a nearby foodbank where help will be gladly welcomed. This could be Packing, transporting supplies, 
                    working at the store or even office and administrative work. Find a foodbank using this site and phone or email them to enquire about volunteering opportunities
                    Volunteers are also needed at distribution points which can also be found on the foodbank page.
                </p>
        </div>
    </div>
</div>


<div class="container mb-3">
    <img src="~/img/volunteer.png" class="img-fluid image-box rounded mx-auto d-block" alt="volunteering hands" />
</div>



