@page
@model VolunteeringModel
@{
    ViewData["Title"] = "Give Help";

}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/DonateMoney">Donate&nbsp;Funds</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Supermarkets">Donate&nbsp;Food</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Volunteering">Volunteering</a>
            </div>
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/GiveHelp/Fundraising">Fundraising</a>
            </div>

        </div>
        <div class="col-sm-6 text-center">
            <h1 class="display-4">Volunteering</h1>
        </div>
        <div class="col-md-36 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>
</div>

<div class="container mb-3">
    <img src="~/img/hands-in-middle.png" class="img-fluid rounded mx-auto d-block" alt="Teams holding hands together" />
</div>

@*<div class="container">
    <img src="/img/hands-in-middle.png" class="img-fluid rounded mx-auto d-block" alt="" />
</div>
*@
<div class="container">
    <div class="row">
        <div class="col">
            <figure class="text-center">
                <p class=" text-box h4">
                    You can apply to volunteer at a nearby foodbank where you can help in many ways, such as transporting supplies, 
                    working at the store or even doing some office and administrative work behind the scenes. A foodbank page will 
                    usually have a way to tell potential volunteers which positions are currently available on their site. 
                    If you have doubts you can always contact them and they will be more than happy to tell you how can you help them.</p>
            </figure>
        </div>
    </div>
</div>
